<form action="/tamagotchi_form">

<label for="name">Enter a name, to play the game:</label>
<input type="text" id="name" name="name" required>
<br>
<button type="submit" name="button">name it!</button>
</form>
