<%= @message %>

<h3>Food Status: <%= @show_food %></h3>
<h3>Rest Status: <%= @show_snooze %></h3>
<h3>Activity Status: <%= @show_activity %></h3>

<form class="" action="/feed_it" >
  <a href  id="feed-it" action="/feed_it" class="btn btn-success" >Feed it!</a>
</form>
<br>
<form class="" action="/nap_time">
<a href id="nap-it" action="/nap_time" class="btn btn-primary">Nap Time</a>
</form>
<br>
<form class="" action="/work_out">
<a href id="work-it" action="/work_out" class="btn btn-danger">Work Out!</a>
</form>
